:host {
  ion-content {
    --background: url(../../../assets/images/background.jpg) no-repeat
      center/cover;
      --padding-top: 50px;
      --padding-start: 80px;
      --padding-end: 80px
  }
}
